tbody tr:nth-child(odd) {
  background-color: #CCC;
}

table {
  margin: 20px;
  font-family: monospace;
  font-size: 1.2em;
}

td {
  border: 1px solid gray;
  text-align: center;
}

td.delete {
  text-align: center;
}

td.delete img {
  height: 15px;
  width: 15px;
}

tr#headerRow {
  font-weight: bold;
}

input {
  font-family: monospace;
  font-size: 1em;
  max-width: 100px;
}