<div>
  <h2>CL Flunky</h2>
<!--   search for: <input type="text" id="searchTerm" ng-model="searchTerm">
<button ng-click="fetchResults()">Search</button> -->
  <h3>displaying search results for "{{searchterm}}"</h3>
  <h3>filtered by "{{filter}}"</h3>
  <div>
    <table>
      <tr ng-repeat="row in cursor">
        <td>{{row.datetime}}</td>
        <td><a href="{{row.href}}">{{row.title}}</a></td>
        <td>{{row.price}}</td>
        <td>{{row.loc}}</td>
      </tr>
    </table>
  </div>
</div>