<div>
  <h1>CLackey</h1>
  <h2>server runs as long as this page is open!</h2>
  <button ng-click="addSearch()">Add Search</button>
  <button ng-click="jumpToShowResultsView()">View Unfiltered Results</button>
  <div>
    <table>
      <tbody id="searches">
<!--       <tr ng-repeat="search in searches">
  <td class="key" ng-click="editCell($event)">{{search.key}}</td>
  <td class="user" ng-click="editCell($event)">{{search.user}}</td>
  <td class="city" ng-click="editCell($event)">{{search.city}}</td>
  <td class="searchterm" ng-click="editCell($event)">{{search.searchterm}}</td>
  <td class="filter" ng-click="editCell($event)">{{search.filter}}</td>
  <td class="phone" ng-click="editCell($event)">{{search.phone}}</td>
  <td class="interval" ng-click="editCell($event)">{{search.interval}}</td>
  <td class="hcreated" ng-click="editCell($event)">{{search.hcreated}}</td>
  <td class="hlastsearch" ng-click="editCell($event)">{{search.hlastsearch}}</td>
  <td class="msgs-sent" ng-click="editCell($event)">{{search.msgs-sent}}</td>
</tr> -->
      </tbody>
    </table>
  </div>
</div>