<div>
  <h2>CL Flunky</h2>
  <h3>server runs as long as this page is open!</h3>
  <button ng-click="addSearch()">Add Search</button>
  <div>
    <table>
      <tr ng-repeat="search in searches">
        <td ng-click="editCell($event)">{{search.user}}</td>
        <td ng-click="editCell($event)">{{search.city}}</td>
        <td ng-click="editCell($event)">{{search.searchterm}}</td>
        <td ng-click="editCell($event)">{{search.filter}}</td>
        <td ng-click="editCell($event)">{{search.phone}}</td>
        <td ng-click="editCell($event)">{{search.interval}}</td>
        <td ng-click="editCell($event)">{{search.hcreated}}</td>
        <td ng-click="editCell($event)">{{search.hlastsearch}}</td>
        <td ng-click="editCell($event)">{{search.msgs-sent}}</td>
        <td><input type="text" ng-keyup="gotKey($event)">
      </tr>
    </table>
  </div>
</div>